.search-panel {
    display: flex;
    padding: 4px 0;
}

.search-input {
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
    outline: none;
    font-size: 16px;
    border: 1px solid black;
}

.search-submit_button {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 0 12px;
    cursor: pointer;
}

.search-select {
    padding: 4px 8px;
    border: 1px solid black;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.search-lable {
    display: inline-block;
    margin: 0 6px 6px 0;
    font-size: 14px;
    font-weight: bold;
}

.search-select_panel {
    display: flex;
    gap: 10px;
    justify-content: center;
}